body {
  font-family: 'Arial', Helvetica, sans-serif;
}

hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  width: 80%;
}

h1 {
  margin: 0;
}



/* Header/Footer */

.header-container {
  height:300px;
  background-color:#3d6499;
}
.header-row {
  color: #ffffff;
  width: 75%;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  margin-top: 5px;
}
.name {
  background-color: grey;
}
.name-title {
  margin-bottom: 10px;
}
.name-text {
  font: 300 3em 'Lato', sans-serif;
}
.title {
  margin-top: 30px;
}
.about {
  font-family: 'Lato', sans-serif;
  padding-top: 10px;
}
.presentation-text {
  padding: 2% 0;
  width: 75%;
  font-size: 1.5em;
}
.presentation-box {
  color: black;
  background-color: #d0e0ec;
  padding-top: 1%;
}
.menu a {
  font-weight: 400;
  width: 150px;
}
.test {
  background-color: green;
}
.avatar img {
    display: block;
    border: white solid 4px;
    vertical-align: middle;
    margin-top: 40px;
    padding-left: 0px;
    margin-left: 0px;
    margin-bottom: 10px;
}
.caption {
  font-size: 10px;
}
.project-caption {
  margin-top: 10px;
  font-size: 16px;
}
.profile-pic {
  max-height: 200px;
}
.col-md-7 {
  padding: 0px;
  min-width: 540px;
}
.col-md-3 {
  padding: 0px;
}
.skills li {
    font-size: 14px;
    background-color: #bcbbbb;
    color: #051603;
    font-family: Lato,sans-serif;
    line-height: 1.5;
    border: 1px solid black;
    flex: 0 0 auto;
}
.footer-container {
  height:150px;
  background-color:#3d6499;
}



/* PROJECT SECTION */

.featured-title {
  color: #bcbbbb;
  padding-bottom: 2%;
}
.project-section {
  width: 80%;
  margin: 0 auto;
}
.project-pic {
  box-shadow: 0 0 10px #575757;
  transition: box-shadow 0.2s ease-out;
}
.project-pic, .project-box {
  margin: 0 auto;
}
.project-pic:hover {
  cursor: pointer;
  box-shadow: 0 0 20px #575757;
}
.project-box h2 {
  font-size: 2.2em;
}
.project-box {
  margin-bottom: 2%;
}

/*CONTACT ICONS*/

.social-icons-section a {
  color: #ffffff;
}
.social-icons-section a:hover {
  color: #c2c4c6;
}

/* MODALS */

.project-description {
  margin: 2% 5% 0;
  font-size: 1.3em;
}
.modal-buttons {
  margin-top: 2%;
}

.modal-anchors {
  margin-top: 10px;
}

.modal-anchors a {
  width: 120px;
}
.modal-pic {
  border: 1px solid grey;
}

/* MEDIA QUERIES */

@media screen and (max-width: 950px) {
  .header-row {
    width: 90%;
  }
  .col-md-7 {
    padding: 0px;
    margin-top: 0px;
    min-width: 150px;
  }
  .avatar img {
    margin-top: 30px;
  }
  .title {
    margin-top: 30px;
  }
  .name-text {
    font: 300 1.8em 'Lato', sans-serif;
  }
  .presentation-text {
    font-size: 1.2em;
  }
  
}

@media screen and (max-width: 560px) {
  .header-row {
    width: 95%;
  }
  
}
